# Practice your variables!
Course: BBA 108-Essentials of Computing & Coding

Submission date: Sunday (19/09/21), 11:59 p.m.

Hey everyone! This is a practice bonus assignment worth 10 points. I **highly** encourage all of you to do this.

Please contact the following **on Slack** if there are any questions or issues:

- @Shourya Watwani 
- @Vanshika Raj 
- @Aryan Gupta 

Thank you! Happy coding :)

 - Name - Siddharth Prasad
 - section - B_51

In [1]:
# Create and print a variable to tell us your name.

In [2]:
# name variable 
student_name ="Siddharth Prasad "
print("Student name:",student_name)

Student name: Siddharth Prasad

In [3]:
# Create and print a variable to tell us your age.

In [4]:
# Printing Age 
student_age = 19
student_age

19

In [5]:
# Create and print a variable to tell us how many times you've taken a trip within India.

In [6]:
# Trip in india 
india_trip = 5
india_trip

5

In [7]:
# Create and print a variable to tell us how many times you've taken a trip outside India.

In [8]:
# Foreign trip
foreign_trip = 4
foreign_trip

4

In [9]:
# Create and print a variable to calculate the total number of trips you've taken.

In [10]:
#Total trips 
total_trips = india_trip+foreign_trip
total_trips

9

In [11]:
# Create and print a variable to tell us total number of trips you've taken, using the numeric value in a sentence.
sentence = "Total number of trips taken are "
total_sentence = sentence +str((total_trips))
total_sentence

'Total number of trips taken are 9'

In [12]:
# Create and print a variable to tell us whether the statement-
# -"I have taken more trips within India than outside India" is true or false using boolean variables.

In [13]:
#Boolean trip
line = "i have taken more trips in india"
t = india_trip>foreign_trip
print(t)
print(line)

True
i have taken more trips in india

In [14]:
# Bollean Trip in if & else statement
if india_trip>foreign_trip:
    print("I have taken more trips within india")
else:
    print("I have not taken more trips within india ")

I have taken more trips within india

In [15]:
# Create and print a variable to calculate the average number of trips you've taken in a year using-
# your total number of trips and your age.

In [16]:
# Average trip 
average_trip =(total_trips/student_age)
average=round(average_trip,2)
average

0.47

In [17]:
# Create and print a variable to tell us average number of trips you've taken, using the numeric value in a sentence.

In [18]:
# Average trip in sentence 
sent= "your average number of trips taken is "
total_sent= sent+ str((average_trip))
total_sent

'your average number of trips taken is 0.47368421052631576'